.band {
	margin-left: 5% auto;
	margin-right: 5% auto;
	list-style:none;
	text-align: center;
	display: flex;
	justify-content: space-around;
	background-image: linear-gradient(to top left, #3366ff 0%, #668cff 50%,  #b3c6ff 100%);
}
body {
	font-family: "Times New Roman", serif;
	margin-left: 5%;
	margin-right: 5%;
	background-image: linear-gradient(90deg, #e5f5ff 0%, #668cff 50%,  #b3c6ff 100%);
	background-size: 200% auto;
	min-width: 800px;

}
.menu-button {
	background-color: #005c99;
	width: 180px;
	height: 44px;
	border-width: 180px;
	border-height:30px;
	border-radius: 2px;
	color: white;
	display: inline-block;
	font-family: "Helvetica Neue", Helvetica, Arial,sans-serif;
	margin: 10px;
	text-align: center;
	text-decoration: none;
	transition: all 0.4s ease-in-out;
	box-sizing: border-box;
	align-self: center;
	padding-top: 15px;
}


.menu-button:hover {
	background-image: linear-gradient(to bottom	, #005c99, #e5f5ff);
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	transform: translateY(-2px);
	background-color:#808080; 
	color: black;
	text-decoration: none;
	
}
.picture-heading {
	height: 150px;
	margin-left: 5% auto;
	margin-right: 5% auto;
	position: relative;
}
	.content{
	background-color: #e5f7ff;
	margin-left: 5%;
	margin-right: 5%;
	border: 1px solid #CCCCCC;
	align-self: center; 
	background-image: linear-gradient(to top right, #e5f2ff 0%, #e5f9ff 50%, #b3d9ff 100%);
}
h1{
	position: static;
	font-family: "Roboto", helvetica Neue;
}
.side{
	background-color: transparent;
}
.logo {
	color: black;
	display: inline-block;
	font-family: "Algerian", Helvetica, Arial,sans-serif;
	text-decoration:none;
	font-size: 250%;
	text-shadow: 0 0 2px;
	display: inline;
	box-sizing: border-box;
}